<nav class="navbar navbar-expand-lg @@classList">
  <div class="@@container">

    <!-- Brand -->
    <a class="navbar-brand" style="color: #0D6EFD;font-family:Arial, Helvetica, sans-serif;" href="@@webRoot/index.html">
      ByteCare
      <!-- <img src="@@webRoot/assets/img/brand.png" width="10%"class="navbar-brand-img" alt="..."> -->
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Button -->
      <a id="bytecare-login-btn" class="navbar-btn btn btn-sm btn-dark lift ml-auto" href="https://github.com/login/oauth/authorize?access_type=offline&client_id=5438af48a44fcf64b10f&response_type=code&scope=user%3Aemail" target="_blank">
        Login <i class="fe fe-github d-none d-md-inline ml-3"></i>
      </a>

      <a id="bytecare-console-btn" class="navbar-btn btn btn-sm btn-primary lift ml-auto" style="display: none;" href="/account-general.html" target="_blank">
        Console
      </a>

    </div>

  </div>
</nav>
